log.roo
application.log*
.settings
.classpath
.project
target
.DS_Store
bin/*
rebel.xml
ajcore.*
src/main/webapp/VAADIN/widgetsets/*
src/main/webapp/VAADIN/gwt-unitCache/*
/target
/createDDL.jdbc
/dropDDL.jdbc
